src/dwgdirect/LibWinD/DD_VC9AMD64MD_Db.lib filter=lfs diff=lfs merge=lfs -text
src/geos/Release/geos.lib filter=lfs diff=lfs merge=lfs -text
src/geos/x64/Release/geos.lib filter=lfs diff=lfs merge=lfs -text
distribuicaox64/oraociei11.dll filter=lfs diff=lfs merge=lfs -text
distribuicao/oraociei11.dll filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.tmpl filter=lfs diff=lfs merge=lfs -text
*.conf filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.db-journal filter=lfs diff=lfs merge=lfs -text
*.cvsignore filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.xpm filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.lua filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.mas filter=lfs diff=lfs merge=lfs -text
*.med filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.font filter=lfs diff=lfs merge=lfs -text
*.dxf filter=lfs diff=lfs merge=lfs -text
*.lut filter=lfs diff=lfs merge=lfs -text
*.qm filter=lfs diff=lfs merge=lfs -text
*.alg filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
*.lst filter=lfs diff=lfs merge=lfs -text
*.ps filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.eng filter=lfs diff=lfs merge=lfs -text
*.port filter=lfs diff=lfs merge=lfs -text
*.spa filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.htm filter=lfs diff=lfs merge=lfs -text
*.PNG filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.JPG filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.manifest filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.nsi filter=lfs diff=lfs merge=lfs -text
*.wse filter=lfs diff=lfs merge=lfs -text
*.info filter=lfs diff=lfs merge=lfs -text
*.itx filter=lfs diff=lfs merge=lfs -text
*.kde filter=lfs diff=lfs merge=lfs -text
*.dsc filter=lfs diff=lfs merge=lfs -text
*.spg filter=lfs diff=lfs merge=lfs -text
*.reg filter=lfs diff=lfs merge=lfs -text
*.dbf filter=lfs diff=lfs merge=lfs -text
*.mdx filter=lfs diff=lfs merge=lfs -text
*.leg filter=lfs diff=lfs merge=lfs -text
*.turn filter=lfs diff=lfs merge=lfs -text
*.blk filter=lfs diff=lfs merge=lfs -text
*.lin filter=lfs diff=lfs merge=lfs -text
*.no1 filter=lfs diff=lfs merge=lfs -text
*.no2 filter=lfs diff=lfs merge=lfs -text
*.po1 filter=lfs diff=lfs merge=lfs -text
*.po2 filter=lfs diff=lfs merge=lfs -text
*.rtl filter=lfs diff=lfs merge=lfs -text
*.rtp filter=lfs diff=lfs merge=lfs -text
*.kdt filter=lfs diff=lfs merge=lfs -text
*.p3d filter=lfs diff=lfs merge=lfs -text
*.p40 filter=lfs diff=lfs merge=lfs -text
*.an1 filter=lfs diff=lfs merge=lfs -text
*.an2 filter=lfs diff=lfs merge=lfs -text
*.rta filter=lfs diff=lfs merge=lfs -text
*.tln filter=lfs diff=lfs merge=lfs -text
*.tnd filter=lfs diff=lfs merge=lfs -text
*.tpl filter=lfs diff=lfs merge=lfs -text
*.amo filter=lfs diff=lfs merge=lfs -text
*.ctx filter=lfs diff=lfs merge=lfs -text
*.12 filter=lfs diff=lfs merge=lfs -text
*.EXE filter=lfs diff=lfs merge=lfs -text
*.INI filter=lfs diff=lfs merge=lfs -text
*.rc filter=lfs diff=lfs merge=lfs -text
*.res filter=lfs diff=lfs merge=lfs -text
*.sym filter=lfs diff=lfs merge=lfs -text
*.odt filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.inc filter=lfs diff=lfs merge=lfs -text
*.pri filter=lfs diff=lfs merge=lfs -text
*.pro filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.vfproj filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.ui filter=lfs diff=lfs merge=lfs -text
*.qrc filter=lfs diff=lfs merge=lfs -text
*.aps filter=lfs diff=lfs merge=lfs -text
*.mng filter=lfs diff=lfs merge=lfs -text
*.qss filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.def filter=lfs diff=lfs merge=lfs -text
*.hpp filter=lfs diff=lfs merge=lfs -text
*.C filter=lfs diff=lfs merge=lfs -text
*.CPP filter=lfs diff=lfs merge=lfs -text
*.H filter=lfs diff=lfs merge=lfs -text
*.HPP filter=lfs diff=lfs merge=lfs -text
*.cPp filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.mk filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.am filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
*.m4 filter=lfs diff=lfs merge=lfs -text
*.vcxproj filter=lfs diff=lfs merge=lfs -text
*.filters filter=lfs diff=lfs merge=lfs -text
*.vsprops filter=lfs diff=lfs merge=lfs -text
*.vcproj filter=lfs diff=lfs merge=lfs -text
*.guess filter=lfs diff=lfs merge=lfs -text
*.sub filter=lfs diff=lfs merge=lfs -text
*.vc filter=lfs diff=lfs merge=lfs -text
*.opt filter=lfs diff=lfs merge=lfs -text
*.inl filter=lfs diff=lfs merge=lfs -text
*.i filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.cxx filter=lfs diff=lfs merge=lfs -text
*.rb filter=lfs diff=lfs merge=lfs -text
*.expected filter=lfs diff=lfs merge=lfs -text
*.wkt filter=lfs diff=lfs merge=lfs -text
*.gperf filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.f filter=lfs diff=lfs merge=lfs -text
*.1x filter=lfs diff=lfs merge=lfs -text
*.xsd filter=lfs diff=lfs merge=lfs -text
*.spp filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.wsdl filter=lfs diff=lfs merge=lfs -text
*.dtd filter=lfs diff=lfs merge=lfs -text
*.user filter=lfs diff=lfs merge=lfs -text
*.suo filter=lfs diff=lfs merge=lfs -text
*.awk filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
*.tlb filter=lfs diff=lfs merge=lfs -text
*.TXT filter=lfs diff=lfs merge=lfs -text
*.ilk filter=lfs diff=lfs merge=lfs -text
*.exp filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.ent filter=lfs diff=lfs merge=lfs -text
*.xsl filter=lfs diff=lfs merge=lfs -text
*.GL2PS filter=lfs diff=lfs merge=lfs -text
*.LGPL filter=lfs diff=lfs merge=lfs -text
*.pkg filter=lfs diff=lfs merge=lfs -text
*.xq filter=lfs diff=lfs merge=lfs -text
*.com filter=lfs diff=lfs merge=lfs -text
*.riscos filter=lfs diff=lfs merge=lfs -text
*.mms filter=lfs diff=lfs merge=lfs -text
*.3 filter=lfs diff=lfs merge=lfs -text
